<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Petition Validation</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="Keith C. Ivey (keith@iveys.org)"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css"
      integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css"
      integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css"
      integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css"
      integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
      integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
    <style>
      body {
        padding-top: 76px; /* to make it scroll all the way to the bottom of the topbar */
        padding-bottom: 60px;
      }
      #send-token-card, #project-menu-card {
        max-width: 360px;
        margin: 0 auto;
        display: none;
      }
      #check-card {
        margin-left: -15px;
        margin-top: -2px;
        border-radius: 0;
      }
      #result-div {
        min-height: 300px;
      }
      #line-form {
        position: relative;
      }
      #line-form .save {
        position: absolute;
        top: 6px;
        right: 0;
        margin-left: 6px;
      }
      #edit-line-form {
        background-color: #f8f9fa;
        border: 1px solid rgba(0,0,0,.125);
        min-width: 14rem;
      }
      #finding {
        padding-right: 84px;
      }
      #status {
        margin: 8px 0;
      }
      #status .username {
        margin: 0 2px 0 8px;
      }
      #explanation {
        font-size: 85%;
      }
      .progress {
        display: inline-block;
        width: 80px;
        margin-bottom: -4px;
      }
      .progress-bar {
        height: 1rem;
      }
      #status .navbar-item {
        margin-right: 1rem;
      }
      td.number, th.number {
        text-align: right;
        width: 30px;
      }
      #image-div {
        overflow: hidden;
        border:1px solid #ccc;
        height: 100px;
        position: relative;
      }
      #line-table>thead>tr>th {
        padding-right: 0.3rem;
      }
      .navbar.navbar-light {
        background-color: #d2e1ec;
      }
      .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-text {
        color: #333333;
      }
      .table-button, .btn-group > .table-button {
        border-color: transparent;
        padding: 0.2rem;
      }
      #circulator-table > thead > tr > th:first-child,
      #user-table > thead > tr > th:first-child {
        width: 62px;
      }
      #page-table > thead > tr > th:first-child {
        width: 33px;
      }
      #total-table > tbody > tr > td:first-child {
        min-width: 16rem;
      }
      .table {
        width: auto;
      }
      caption {
        caption-side: top;
      }
      .nav-brand img {
        height: 2.5rem;
        padding-right: 0.5rem;
      }
      .form-control::placeholder {
        font-style: italic;
        opacity: 0.8;
      }
    </style>
  </head>
  <body>

    <div id="send-token-card" class="card bg-light">
      <div class="card-body">
        <h4 class="card-title">Get Login Link</h4>
        <form action="/send-token" method="post" id="send-token-form">
          <div class="form-group row">
            <label class="col-form-label col-sm-3" for="send-token-email">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="mail" id="send-token-email"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Send Link</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="project-menu-card" class="card bg-light">
      <div class="card-body">
        <h4 class="card-title">Select Project</h4>
        <ul id="project-menu" class="list-unstyled"></ul>
      </div>
    </div>

    <nav id="top-nav" class="navbar navbar-expand-lg navbar-light fixed-top" style="display: none;">
      <a class="navbar-brand" href="/"></a>
      <div class="navbar-nav" id="status">
        <div class="navbar-item navbar-text d-none d-sm-inline-block">
          <strong id="username" class="username"></strong>
          <div class="progress">
            <div id="complete-bar" class="progress-bar" style="width: 0;"></div>
          </div>
          <small>
            <span class="complete">0</span> of <span class="total">0</span>
          </small>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-dropdowns"
        aria-controls="nav-dropdowns" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="nav-dropdowns" class="navbar-nav justify-content-end collapse navbar-collapse">
        <div class="nav-item dropdown admin-only">
          <button id="admin-dropdown" class="nav-link dropdown-toggle btn btn-link" type="button" data-toggle="dropdown">
            Admin
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item table-link btn btn-link" type="button" data-name="circulators">
              Circulators
            </button>
            <button id="invoices-link" class="dropdown-item table-link btn btn-link" type="button" data-name="invoices">
              Invoices
            </button>
            <button class="dropdown-item table-link btn btn-link" type="button" data-name="pages">
              Pages
            </button>
            <button class="dropdown-item table-link btn btn-link" type="button" data-name="users">
              Users
            </button>
            <button id="totals-link" class="dropdown-item btn btn-link" type="button">
              Totals
            </button>
            <button id="edit-line-link" class="dropdown-item btn btn-link" data-target="#edit-line-form">
              Edit Specific Line
            </button>
            <form id="edit-line-form" class="dropdown-item collapse">
              <div class="form-row">
                <div class="form-group col">
                  <label for="edit-line-form-page">Page</label>
                  <input type="number" id="edit-line-form-page" class="form-control" name="page">
                </div>
                <div class="form-group col">
                  <label for="edit-line-form-line">Line</label>
                  <input type="number" id="edit-line-form-line" class="form-control" name="line">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <button type="submit" class="btn btn-primary edit-button">Edit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="nav-item dropdown">
          <button class="btn btn-link nav-link dropdown-toggle" type="button" data-toggle="dropdown">
            Downloads
          </button>
          <div class="dropdown-menu">
            <a href="completed.tsv" class="dropdown-item project-link">All completed lines</a>
            <a href="address-changes.tsv" class="dropdown-item project-link">Lines with possible address changes</a>
            <a href="challenge.html" id="challenge-link" class="dropdown-item project-link">Challenge report</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <button class="nav-link dropdown-toggle btn btn-link" type="button" data-toggle="dropdown">
            Review Your Work
          </button>
          <div class="dropdown-menu" id="review-links">
            <button class="dropdown-item btn btn-link admin-only" type="button">
              Everyone's Work
            </button>
            <button class="dropdown-item btn btn-link" type="button">
              All
            </button>
            <button class="dropdown-item btn btn-link" type="button" data-value="S">
              Skipped Lines
            </button>
            <button class="dropdown-item btn btn-link" type="button" data-value="I">
              Illegible Lines
            </button>
            <button class="dropdown-item btn btn-link" type="button" data-value="NR">
              Not Registered
            </button>
          </div>
        </div>
        <div class="nav-item">
          <button type="button" id="log-out" class="nav-link btn btn-link">Log Out</button>
        </div>
      </div>
    </nav>

    <div id="main-container" class="container-fluid" style="display: none;">
      <div id="image-row" class="row" style="display: none;">
        <div id="image-div" class="col" data-toggle="tooltip" title="Drag to see other parts of image. Click to open full image in new tab.">
        </div>
      </div>
      <div id="top-row" class="row">
        <div class="col-md-4">
          <div id="check-card" class="card bg-light">
            <div class="card-body">
              <h2 id="page-line" class="card-title"></h2>
              <form action="/" id="check-form">
                <button type="button" id="check-instructions-toggle" class="close" data-toggle="collapse" data-target="#check-instructions">
                  &times;
                </button>
                <div id="check-instructions" class="collapse show">
                  <p class="pages-left">
                    Search if you want to check a name. Or click "Blank" if the line has no name,
                    "Rest Blank" if the rest of the page is blank, or "Illegible" if you can't even
                    figure out what to search for.
                  </p>
                  <p class="no-pages-left">
                    <span class="pages-completed">
                      You have completed your assigned pages. Congratulations! And thanks!
                    </span>
                    <span class="no-pages-completed">
                      No pages have been assigned to you yet.
                    </span>
                    You can still search, if you'd like.
                  </p>
                  <p>
                    Use one or both of these fields to search for the voter (does a prefix search for
                    names, so <code>richards</code> will match "Richardson" and
                    <code>connect</code> will match "Connecticut Ave").
                  </p>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="check-form-name">Name</label>
                  <input type="text" class="form-control" name="name" id="check-form-name" placeholder="Name">
                  <p class="form-text text-muted"><i class="text-info">Last name</i> or
                    <i class="text-info">last, first</i> or <i class="text-info">, first</i></p>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="check-form-address">Address</label>
                  <input type="text" class="form-control" name="address" id="check-form-address" placeholder="Address">
                  <p class="form-text text-muted"><i class="text-info">House number</i> (optional) followed by
                    <i class="text-info">street name</i></p>
                </div>
                <div class="form-group">
                  <div class="btn-group">
                    <button id="search-button" type="button" class="btn btn-primary">Search</button>
                    <button id="reset-button" type="reset" class="btn btn-secondary">Clear</button>
                  </div>
                </div>
                <div class="form-group pages-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-info" id="blank-button">Blank</button>
                    <button type="button" class="btn btn-danger" id="rest-blank-button">Rest Blank</button>
                    <button type="button" class="btn btn-warning" id="illegible-button">Illegible</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8" id="result-div">
          <table id="voter-table" class="table table-sm table-striped" style="display: none;">
            <thead>
              <tr>
                <td colspan="7">
                  <button type="button" class="btn btn-secondary btn-sm float-right not-found" style="margin-left: 6px;">Not Found</button>
                  If you find a voter that matches the signer, click the button for that row.
                  If not, you can search again. If you can't find a match, click "Not Found".
                </td>
              </tr>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th id="party-column-head">Party</th>
                <th class="text-center">Ward</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="8">
                  <button id="more-button" class="btn btn-secondary btn-sm">More</button>
                </td>
              </tr>
            </tfoot>
            <tbody></tbody>
          </table>
          <pre id="explanation" style="display: none;"></pre>
          <form action="/" id="line-form" style="display: none;"></form>
          <table id="skipped-table" class="table table-condensed" style="display: none;">
            <thead>
              <tr>
                <td colspan="3">
                  We're skipping these lines because the Board of Elections has already ruled them valid.
                </td>
              </tr>
              <tr>
                <th>Page</th>
                <th>Line</th>
                <th>Signed By</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div id="bottom-row" class="row" style="display: none;"></div>
    </div>

    <div id="bottom-nav" class="navbar fixed-bottom navbar-light d-flex flex-nowrap">
      <div class="navbar-nav">
        <a href="https://dcgeekery.com" class="nav-brand">
          <img src="logo.svg" alt="DC Geekery">
        </a>
      </div>
      <div class="navbar-text text-nowrap text-truncate">© <a href="https://dcgeekery.com">Keith C. Ivey</a> 2012–22.
        Send corrections and comments to <a href="mailto:keith@iveys.org">keith@iveys.org</a>.</div>
      <div class="navbar-item ml-auto version"></div>
    </div>

    <div class="modal fade" id="global-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="assign-pages-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Assign Pages to <span class="username"></span></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Enter list of individual pages or ranges separated by commas. Example syntax:</p>
            <ul>
              <li>34</li>
              <li>151-200</li>
              <li>213, 215-220, 227</li>
            </ul>
            <form>
              <input type="text" name="pages" class="form-control"/>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary assign-send-button">Assign</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
      integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
      integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"
      integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"
      integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js"
      integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"
      integrity="sha512-9EgQDzuYx8wJBppM4hcxK8iXc5a1rFLp/Chug4kIcSWRDEgjMiClF8Y3Ja9/0t8RDDg19IfY5rs6zaPS9eaEBw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.modelbinder/1.1.1/Backbone.ModelBinder.min.js"
      integrity="sha512-yvGaG6fGTP9+9P7HtzC1xFH1h34kHxhQiaSlagW+xFHvFGsd1vISe+Uych5zUUlgbrSnTLmU/rE9fdaY5QWGKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"
      integrity="sha512-RlGrSmkje9EE/FXpJKWf0fvOlg4UULy/blvNsviBX9LFwMj/uewXVoanRbxTIRDXy/0A3fBQppTmJ/qOboJzmA==" crossorigin="anonymous"></script>
    <script src="/voters.js"></script>
    <script type="text/template" id="project-menu-template">
      <% _.each(projects, function (p) { %>
        <button type="button" class="btn btn-primary btn-lg btn-block" value="<%- p.code %>"><%- p.name %></button>
      <% }) %>
    </script>
    <script type="text/template" id="voter-row-template">
      <tr>
        <td><%- name %></td>
        <td><%- address %></td>
        <% if (wantedParty) { %><td><%- partyDisplay %></td><% } else { %><td style="display: none;"></td><% } %>
        <td class="text-center"><%- ward %></td>
        <td><%- registered %></td>
        <td>
          <button class="btn btn-secondary btn-sm match">
            <% if (wantedParty && wantedParty !== party) { %>
              Wrong Party
            <% } else if (wantedWard && wantedWard !== ward) { %>
              Wrong Ward
            <% } else if (duplicate_line) { %>
              Duplicate
            <% } else { %>
              Match
            <% } %>
          </button>
        </td>
      </tr>
    </script>
    <script type="text/template" id="skipped-row-template">
      <tr>
        <td class="number"><%- page %></td>
        <td class="number"><%- line %></td>
        <td><%- signed_by %></td>
      </tr>
    </script>
    <script type="text/template" id="user-form-template">
      <form action="/" id="user-form">
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="user-name">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="user-name"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="user-email">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="email" id="user-email"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="user-username">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="username" id="user-username"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="user-admin">Admin?</label>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="checkbox" class="form-check-input position-static align-middle" name="admin" id="user-admin" value="1"/>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="user-blocked">Blocked?</label>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="checkbox" class="form-check-input position-static align-middle" name="blocked" id="user-blocked" value="1"/>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="user-notes">Notes</label>
          <div class="col-sm-10">
            <textarea name="notes" id="user-notes" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <input type="hidden" name="id"/>
            <button type="submit" class="btn btn-primary btn save">Save</button>
          </div>
        </div>
      </form>
    </script>
    <script type="text/template" id="line-form-template">
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="finding">Finding</label>
        <div class="col-sm-10" id="finding">
          <input type="hidden" name="id"/>
          <input type="hidden" name="page"/>
          <input type="hidden" name="line"/>
          <input type="hidden" name="checker"/>
          <% _.each(findingCodes, function (label, value) { %>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="line-finding-<%- value %>" name="finding" value="<%- value %>"/>
              <label class="form-check-label" for="line-finding-<%- value %>">
                <%= label %> [<%- value %>]
              </label>
            </div>
          <% }); %>
        </div>
      </div>
      <div class="form-group row" style="display: none;">
        <label class="col-form-label col-sm-2" for="voter_id">Voter ID</label>
        <div class="col-sm-10">
          <input type="text" name="voter_id" id="voter_id" class="form-control-plaintext" readonly/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="voter_name">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="voter_name" id="voter_name"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="line-address">Address</label>
        <div class="col-sm-10">
          <input type="text" name="address" id="line-address" class="form-control"/>
        </div>
      </div>
      <div class="form-group row" style="display: none;">
        <label class="col-form-label col-sm-2" for="ward">Ward</label>
        <div class="col-sm-10">
          <input type="text" name="ward" id="ward" class="form-control"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="date_signed">Date signed</label>
        <div class="col-sm-10">
          <input type="text" name="date_signed" id="date_signed" class="form-control"/>
        </div>
      </div>
      <% if (type == 'response') { %>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="challenged">Challenged?</label>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="checkbox" class="form-check-input position-static align-middle" name="challenged" id="challenged" value="1"/>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="challenge_reason">Challenge Reason</label>
          <div class="col-sm-10">
            <textarea name="challenge_reason" id="challenge_reason" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="rebuttal">Rebuttal</label>
          <div class="col-sm-10">
            <textarea name="rebuttal" id="rebuttal" class="form-control"></textarea>
          </div>
        </div>
      <% } %>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="notes">Notes</label>
        <div class="col-sm-10">
          <textarea name="notes" id="notes" class="form-control"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg save">Save</button>
    </script>
    <script type="text/template" id="page-form-template">
      <form action="/" id="page-form">
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="page-number">Page Number</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="number" id="page-number"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="page-circulator-id">Circulator</label>
          <div class="col-sm-10">
            <select class="form-control" name="circulator_id" id="page-circulator-id">
              <option value=""></option>
              <% _.each(circulators, function (c) { %>
                <option value="<%- c.id %>"><%- c.name %></option>
              <% }); %>
            </select>
            <button type="button" class="btn btn-sm btn-secondary circulator-edit-button">
              New Circulator
            </button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="page-date-signed">Date Signed</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="date_signed" id="page-date-signed"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="page-notes">Notes</label>
          <div class="col-sm-10">
            <textarea name="notes" id="page-notes" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="page-checker">Reassign Checker</label>
          <div class="col-sm-10">
            <select class="form-control" name="checker" id="page-checker">
              <option value="">(leave as is)</option>
              <% _.each(checkers, function (checker) { %>
                <option><%- checker %></option>
              <% }); %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <input type="hidden" name="id"/>
            <button type="submit" class="btn btn-primary btn save">Save</button>
          </div>
        </div>
      </form>
    </script>
    <script type="text/template" id="circulator-form-template">
      <form action="/" id="circulator-form">
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="circulator-name">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="circulator-name"/>
          </div>
        </div>
        <% if (Object.keys(circulatorStatuses).length) { %>
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="circulator-status">Status</label>
            <div class="col-sm-10">
              <select class="form-control" name="status" id="circulator-status">
                <option value="">OK</option>
                <% _.each(circulatorStatuses, function (status, code) { %>
                  <option value="<%- code %>"><%- status %> [<%- code %>]</option>
                <% }); %>
              </select>
            </div>
          </div>
        <% } %>
        <% if (paidCirculators) { %>
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="circulator-number">Number</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="number" id="circulator-number"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="circulator-volunteer">Volunteer?</label>
            <div class="col-sm-10">
              <div class="form-check">
                <input type="checkbox" class="form-check-input position-static align-middle" name="volunteer" id="circulator-volunteer" value="1"/>
              </div>
            </div>
          </div>
        <% } %>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="circulator-notes">Notes</label>
          <div class="col-sm-10">
            <textarea name="notes" id="circulator-notes" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <input type="hidden" name="id"/>
            <button type="submit" class="btn btn-primary save">Save</button>
          </div>
        </div>
      </form>
    </script>
    <script type="text/template" id="alert-template">
      <div class="alert fade show <%- successful ? 'alert-success' : 'alert-danger' %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= text || (successful ? 'Record successfully saved' : 'Error saving record') %>
      </div>
    </script>
    <script type="text/template" id="line-table-template">
      <div class="col">
        <button type="button" class="btn btn-link back-button">Back to Checking</button>
        <div>
          <table id="line-table" class="table table-sm table-striped table-hover w-100"></table>
        </div>
      </div>
    </script>
    <script type="text/template" id="circulator-table-template">
      <div class="col">
        <button type="button" class="btn btn-link back-button">Back to Checking</button>
        <button type="button" class="btn btn-primary circulator-edit-button">
          <i class="fas fa-plus"></i>
          New Circulator
        </button>
        <div>
          <table id="circulator-table" class="table table-sm table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <th class="number">ID</th>
                <th>Name</th>
                <th class="number">Page Count</th>
                <th class="number">Processed Lines</th>
                <th class="number">Valid Lines</th>
                <th class="number">% Valid</th>
                <% if (useCirculatorStatus) { %>
                  <th>Status</th>
                <% } %>
                <% if (project.paidCirculators) { %>
                  <th class="number">Number</th>
                  <th class="text-center">Volunteer?</th>
                <% } %>
                <th>Notes</th>
                <th>Pages</th>
              </tr>
            </thead>
            <tbody>
              <% _.each(circulators, function (c) { %>
                <tr>
                  <td>
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-outline-primary table-button circulator-edit-button" data-id="<%- c.id %>" title="Edit">
                        <i class="fas fa-pencil-alt fa-fw"></i>
                      </button>
                      <% if (c.page_count) { %>
                        <button type="button" class="btn btn-outline-success table-button circulator-totals-button" data-id="<%- c.id %>" data-name="<%- c.name %>" title="Totals">
                          <i class="fas fa-table fa-fw"></i>
                        </button>
                      <% } else { %>
                        <button type="button" class="btn btn-outline-danger table-button circulator-delete-button" data-id="<%- c.id %>" title="Delete">
                          <i class="fas fa-trash fa-fw"></i>
                        </button>
                      <% } %>
                    </div>
                  </td>
                  <td class="number"><%- c.id %></td>
                  <td><%- c.name %></td>
                  <td class="number"><%- c.page_count %></td>
                  <td class="number"><%- c.processed_lines %></td>
                  <td class="number"><%- c.valid_lines %></td>
                  <td class="number">
                    <% if (c.processed_lines) { %>
                      <%- Math.round(100 * c.valid_lines / c.processed_lines, 1) %>
                    <% } %>
                  </td>
                  <% if (useCirculatorStatus) { %>
                    <td><%- c.status %></td>
                  <% } %>
                  <% if (project.paidCirculators) { %>
                    <td class="number"><%- c.number %></td>
                    <td class="text-center"><%- c.volunteer ? '\u2714' : ''  %></td>
                  <% } %>
                  <td><%- c.notes %></td>
                  <td>
                    <% if (c.pages && project.type === 'challenge') { %>
                      <a href="/<%= project.code %>/challenge.html?p=<%= encodeURIComponent(c.pages) %>" target="_blank"
                         title="Get list of petition defects">
                        <%- c.pages %>
                      </a>
                    <% } else { %>
                      <%- c.pages %>
                    <% } %>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <script type="text/template" id="page-table-template">
      <div class="col">
        <button type="button" class="btn btn-link back-button">Back to Checking</button>
        <button type="button" class="btn btn-primary page-edit-button">
          <i class="fas fa-plus"></i>
          New Page
        </button>
        <% if (project.imageDpi) { %>
          <button type="button" class="btn btn-primary page-upload-show-button">
            <i class="fas fa-image"></i>
            Upload Page Images
          </button>
        <% } %>
        <table id="page-table" class="table table-sm table-striped table-hover"></table>
      </div>
    </script>
    <script type="text/template" id="invoice-table-template">
      <div class="col">
        <button type="button" class="btn btn-link back-button">Back to Checking</button>
        <button type="button" id="create-invoices-button" class="btn btn-primary">
          <i class="fas fa-plus"></i>
          Create Invoices through
        </button>
        <input type="text" id="invoice-through-date" name="through_date" value="<%- today %>"/>
        <div>
          <table id="invoice-table" class="table table-sm table-striped table-hover">
            <thead>
              <tr>
                <th class="number">Invoice</th>
                <th>Circulator</th>
                <th>Created</th>
                <th>Paid</th>
                <th>Amount</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
            <% _.each(invoices, function (i) { %>
              <tr>
                <td class="number"><%- i.number %></td>
                <td><%- i.circulator_name %></td>
                <td><%- i.date_created ? i.date_created.replace(/^(\d{4})-(\d\d)-(\d\d).*/, '$2/$3') : '' %></td>
                <td><%- i.date_paid ? i.date_paid.replace(/^(\d{4})-(\d\d)-(\d\d).*/, '$2/$3') : '' %></td>
                <td class="number"><%- i.amount %></td>
                <td><%- p.notes || '' %></td>
              </tr>
            <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <script type="text/template" id="user-table-template">
      <div class="col">
        <button type="button" class="btn btn-link back-button">Back to Checking</button>
        <button type="button" class="btn btn-primary user-edit-button">
          <i class="fas fa-plus"></i>
          New User
        </button>
        <div>
          <table id="user-table" class="table table-sm table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th class="text-center">Admin</th>
                <th class="text-center">Blocked</th>
                <th class="number">Page Count</th>
                <th>Pages</th>
                <th>Lines/Hour</th>
              </tr>
            </thead>
            <tbody>
              <% _.each(users, function (user) { %>
                <tr data-id="<%- user.id %>">
                  <td>
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-outline-primary table-button user-edit-button" data-id="<%- user.id %>" title="Edit">
                        <i class="fas fa-pencil-alt fa-fw"></i>
                      </button>
                      <button type="button" class="btn btn-outline-success table-button send-token-button" data-email="<%- user.email %>" title="Send Link">
                        <i class="fas fa-envelope fa-fw"></i>
                      </button>
                      <button type="button" class="btn btn-outline-info table-button assign-modal-button" data-toggle="modal" data-target="#assign-pages-modal" title="Assign Pages">
                        <i class="fas fa-file-contract fa-fw"></i>
                      </button>
                    </div>
                  </td>
                  <td><%- user.username %></td>
                  <td><%- user.name %></td>
                  <td><%- user.email %></td>
                  <td class="text-center">
                    <% if (user.admin) { %>
                      <i class="fas fa-user-check"></i>
                    <% } %>
                  </td>
                  <td class="text-center">
                    <% if (user.blocked) { %>
                      <i class="fas fa-ban"></i>
                    <% } %>
                  </td>
                  <td class="number"><%- user.page_count %></td>
                  <td><%- user.pages %></td>
                  <td class="number"><%- user.avg_time ? Math.round(3600 / user.avg_time) : '' %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <script type="text/template" id="total-table-template">
      <div class="col">
        <button type="button" class="btn btn-link back-button">Back to Checking</button>
        <div>
          <table id="total-table" class="table table-striped table-hover">
            <caption>Totals<% if (circulatorName) { %> for <%- circulatorName %><% } %></caption>
            <tbody>
              <% _.each(totals, function (total, label) { %>
                <tr>
                  <td colspan="2"><%- label %></td>
                  <td class="text-right"><%- typeof total === 'number' ? commify(total) : total %></td>
                </tr>
              <% }); %>
              <tr>
                <td>Ward breakdown</td>
                <td class="pr-0" colspan="2">
                  <table class="table table-striped">
                    <tbody>
                      <% _.each(wardBreakdown, function (info, ward) { %>
                        <% if (info.signers) { %>
                          <tr>
                            <td><% if (ward !== 'TOTAL') { %>Ward <% } %><%- ward %></td>
                            <td class="text-right text-nowrap">
                              <%- commify(info.signers) %>
                              <% if (!circulatorName) { %>
                                / <%- commify(info.registered) %>
                                (<%- (100 * info.signers / info.registered).toFixed(2) %>%)
                              <% } %>
                            </td>
                          </tr>
                        <% } %>
                      <% }); %>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <script type="text/template" id="page-display-template">
      <p>Circulator: <%- circulator_name %><br>
      Valid lines: <%- valid_lines %>/<%- total_lines %></p>
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Line</th>
            <th>Finding</th>
            <th>Signer</th>
            <th>Address</th>
            <th>Date</th>
            <th>Notes</th>
            <th>Checker</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(lines, function (l) { %>
            <tr>
              <td class="number"><%- l.line %></td>
              <td><%- l.finding %></td>
              <td><%- l.voter_name %></td>
              <td><%- l.address %></td>
              <td><%- l.date_signed %></td>
              <td><%- l.notes %></td>
              <td><%- l.checker %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </script>
    <script type="text/template" id="page-upload-form-template">
      <form action="/" id="page-upload-form" method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="page-upload-images">Choose files</label>
          <div class="col-sm-8">
            <input type="file" class="form-control" name="images" id="page-upload-images" multiple/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="page-upload-numbers">Initial pages</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="numbers" id="page-upload-numbers"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Upload</button>
          </div>
        </div>
      </form>
    </script>
  </body>
</html>
